.navbar {
    background-color: rgba(0, 0, 204, 0.7);
    padding-right: 50px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: rgba(0, 0, 204, 0.9);
}

.nav-item {
    padding: 10px 20px;
}